{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "prettier/prettier": [
      "error",
      {
        "bracketSpacing": true,
        "singleQuote": true,
        "semi": true,
        "trailingComma": "es5"
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
